@use "../../styles/mixins" as *;

.header {
  background: #1A1A1A;
//   backdrop-filter: blur(12px);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.bar {
  width: 24px;
  height: 2px;
  background: #111827;
  border-radius: 2px;
}

.mobileMenu {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  padding: 1.5rem;
  background: white;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}
.active {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 50%;
    transform: translateX(-50%);
    width: 6px;
    height: 6px;
    background: #9eff00;
    border-radius: 999px;
  }
}
