@use "../../styles/mixins" as *;

// .header {
// //  background: rgba(0, 0, 0, 0.6);
// //   backdrop-filter: blur(8px);
// //   border-bottom: 1px solid rgba(0, 0, 0, 0.05);
//   background: transparent;
//   border-bottom: 1px solid transparent;
  
//   .top {
//   background: linear-gradient(
//     to bottom,
//     rgba(0, 0, 0, 0.35),
//     rgba(0, 0, 0, 0)
//   );
//   }
// }
.header {
  background: transparent;
  border-bottom: 1px solid #fff;
  transition: all 0.3s ease;
  position: fixed;
}

/* Top (initial transparent state) */
.top {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.45),
    rgba(0, 0, 0, 0)
  );
}
.scrolled {
  background: rgba(15, 15, 15, 0.75);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.06);
}

.bar {
  width: 24px;
  height: 2px;
  background: #fff;
  border-radius: 2px;
}

.mobileMenu {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  padding: 1.5rem;
  background: white;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}
.active {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 50%;
    transform: translateX(-50%);
    width: 6px;
    height: 6px;
    background: #9eff00;
    border-radius: 999px;
  }
}
