registry=https://mfine-npm-registry-domain-939371275774.d.codeartifact.ap-south-1.amazonaws.com/npm/mfine-npm-registry/
strict-ssl=true
legacy-peer-deps=true
audit=false
loglevel=warn
fetch-timeout=60000
fetch-retry-mintimeout=20000
fetch-retry-maxtimeout=120000
fetch-retries=5
engine-strict=false
save-exact=false
save-prefix=^
optional=true
prefer-offline=false